//====================
// ARROWS
//====================

.tcu-prev::before,
.tcu-next::after {
	border: 4px solid $white;
	bottom: 0;
	content: '';
	display: inline-block;
	height: 12px;
	margin: auto;
	position: absolute;
	top: 0;
	transform: rotate(-45deg);
	width: 12px;
}

.tcu-prev::before {
	border-bottom: none;
	border-right: none;
}

.tcu-next::after {
	border-left: none;
	border-top: none;
	color: $white;
}

.tcu-expand,
.tcu-reveal,
.tcu-contract,
.tcu-expand--dropdown,
.tcu-contract--dropdown {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	font-size: 1.3em;
	height: 40px;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: $space-xs;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 40px;
}

a.tcu-reveal {
	color: $white;
}

%tcu-arrow {
	background-color: transparent;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 16px auto;
}

.tcu-arrowup--white {
	@extend %tcu-arrow;
	@include arrow-up(FFFFFF);
}

.tcu-arrowdown--white {
	@extend %tcu-arrow;
	@include arrow-down(FFFFFF);
}

.tcu-arrowup--grey {
	@extend %tcu-arrow;
	@include arrow-up(4d4d4a);
}

.tcu-arrowdown--grey {
	@extend %tcu-arrow;
	@include arrow-down(4d4d4a);
}
