.wp-caption {
	background: $light-grey;
	font-style: italic;
	max-width: 100%;
	padding: $space-xs;

	// images inside wp-caption
	img {
		margin-bottom: 0;
		max-width: 100%;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 0 0 $space-s;
		text-align: center;
	}
} // end .wp-caption
