//=======================
// ENTRY CONTENT
//=======================
.tcu-entry-content >  {
	ul,
	ol {
		li {
			margin-left: $space-l;
		}
	}

	dd {
		color: $dark-grey;
		font-size: 0.9em;
		margin-bottom: $space-m;
		margin-left: 0;
	}
}

// Unstyled lists
.tcu-unstyled-list {
	@include margin(0 null);
	list-style-type: none;

	li {
		display: list-item;
		margin: 0;

		&::before {
			display: none;
		}

		&::after {
			display: none;
		}
	}
}
