//======================================================
// Layout
//======================================================
// Contains contrains of 1100px
.tcu-layout-constrain {
	margin-left: auto;
	margin-right: auto;

	@include media($large-screen) {
		max-width: $length;
	}
}

// Centers a block element
.tcu-layout-center {
	@include margin(null auto);
	width: 100%;
}

// No constrains containers
//   Meaning that they can be used as full-width backgrounds
//   Using these classes will guarantee that you have enough
//   padding in mobile versions
//
%tcu-layoutwrap,
.tcu-layoutwrap {
	@include margin(0 null);
	width: 100%;
}

.tcu-layoutwrap--dark {
	@extend %tcu-layoutwrap;
	background-color: $black;
	color: $white;
	padding: $space-m;

	blockquote {
		border-left: 10px solid $white;
	}
}

.tcu-layoutwrap--dark--border {
	@extend %tcu-layoutwrap;
	border-bottom: 3px solid $dark-grey;
}

.tcu-layoutwrap--purple {
	@extend %tcu-layoutwrap;
	background-color: $purple;
	color: $white;
	padding: $space-l;

	blockquote {
		border-left: 10px solid $white;
	}
}

.tcu-layoutwrap--hornedfrog-grey {
	@extend %tcu-layoutwrap;
	background-color: $horned-frog-grey;
	color: $white;
	padding: $space-l;

	blockquote {
		border-left: 10px solid $white;
	}
}

.tcu-layoutwrap--transparent {
	background-color: transparent;
	padding: $space-l $space-m;

	@include media($large-screen) {
		padding-left: 0;
		padding-right: 0;
	}
}

.tcu-layoutwrap--grey {
	@extend %tcu-layoutwrap;
	background-color: $light-grey;
	padding: $space-l;
}
