//==========================================
// Accordions
//==========================================

.tcu-accordion-container {
	@include margin($space-m null);
}

.tcu-accordion-header {
	background-color: $horned-frog-grey;
	border: 0;
	color: $white;
	display: block;
	font-family: $eurostile;
	font-weight: $font-bold;
	margin-bottom: 0;
	padding: $space-s;
	// So text clears the arrow image
	padding-right: 40px;
	text-align: left;
	width: 100%;
}

.tcu-accordion-content {
	background-color: $light-grey;
	display: none;
	margin: 0;
	padding: $space-m;
}

.no-js .tcu-accordion-content {
	display: block;
}

.tcu-active-header {
	background-color: $purple;

	img {
		float: right;
		margin-bottom: 0;
		margin-left: $space-m;
		margin-top: $space-s;
		position: relative;
		// So image displays pass the padding
		right: -25px;
	}

	&:hover {
		background-color: $purple;

		@include media($medium-screen) {
			background-position: 98% 45%;
		}
	}

	&:focus {
		box-shadow: $focus-orange;
		color: $secondary-orange;
		outline: dotted thin;
	}
}

.tcu-inactive-header {
	background-color: $dark-grey2;

	img {
		float: right;
		margin-bottom: 0;
		margin-top: $space-s;
		position: relative;
		// So image displays pass the padding
		right: -25px;
	}

	&:hover {
		background-color: $dark-grey2;
	}

	&:focus {
		box-shadow: $focus-yellow;
		outline: dotted thin $secondary-yellow;
	}
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-active-header,
	.tcu-inactive-header,
	.tcu-accordion-content {
		border: 1px solid buttonText;
	}

	.tcu-active-header,
	.tcu-inactive-header {
		&:focus {
			outline: 2px solid Highlight;
		}
	}
}

@media screen and (-ms-high-contrast: black-on-white) {
	.tcu-active-header,
	.tcu-inactive-header {
		img {
			background-color: buttonText;
			padding: $space-xs;
		}
	}
}
