//=====================
// UNIVERSAL NAV
//=====================

.tcu-nav-universal {
	@include margin(0 null);
	list-style: none;

	@include media($medium-screen) {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	> li:first-child {
		@include media($medium-screen) {
			flex-basis: 30%;
		}

		@include media($large-screen) {
			flex-basis: 15%;
		}
	}

	> li:nth-child(2) {
		@include media($medium-screen) {
			flex-basis: 30%;
		}

		@include media($large-screen) {
			flex-basis: 15%;
		}
	}

	> li:nth-child(3) {
		@include media($medium-screen) {
			flex-basis: 35%;
		}

		@include media($large-screen) {
			flex-basis: 15%;
		}
	}

	> li:last-child {
		@include media($medium-screen) {
			flex-basis: 45%;
		}

		@include media($medium-screen) {
			padding: 0 $space-m;
		}

		@include media($xl-screen) {
			flex-basis: 45%;
		}
	}

	// Fixes the y-axis
	.tcu-expand--dropdown {
		display: flex;
		height: 30px;
		justify-content: center;
		width: 30px;

		svg {
			fill: $white;
			flex-shrink: 0;
			margin-right: 0;
			pointer-events: none;
		}

		@include media($medium-screen) {
			right: -10px;
			top: 0;
		}
	}

	// Fixes the y-axis
	.tcu-contract--dropdown {
		display: flex;
		height: 30px;
		justify-content: center;
		width: 30px;

		svg {
			fill: $white;
			flex-shrink: 0;
			margin-right: 0;
			pointer-events: none;
		}

		@include media($medium-screen) {
			right: -10px;
			top: 0;
		}
	}

	// Adjust the location of the sub-menu
	.tcu-visible {
		top: 50px;
	}

	// Adjust the location of the sub-menu
	.tcu-nonvisible {
		top: 50px;
	}
}

.tcu-nav-universal__icons {
	background-color: $black;
	position: relative;

	@include media($medium-screen) {
		padding-bottom: $space-xs;
		padding-top: $space-xs;
	}

	a {
		color: $white;
		display: block;
		float: left;
		// padding: 10px 10px;
		text-decoration: none;

		@include media($medium-screen) {
			padding: 0 $space-m;
		}

		&:hover,
		&:visited {
			color: $secondary-yellow;
		}

		&:focus {
			box-shadow: $focus-yellow;
			color: $secondary-yellow;
		}
	}

	svg {
		display: inline-block;
		fill: $white;
		float: left;
		height: 25px;
		margin-right: 8px;
		max-width: 15px;
	}
}

// Flexbox fallback for IE 9
html.no-flexbox {
	.tcu-nav-universal {
		display: block;

		li {
			@include media($medium-screen) {
				float: left;
			}
		}

		> li:last-child {
			@include media($medium-screen) {
				width: 48%;
			}
		}
	}
}

// no-js
html.no-js {
	.tcu-not-mobile {
		display: block;
	}

	.tcu-has-children {
		padding-right: 0;
		position: relative;

		@include media($medium-screen) {
			// our arrow character
			&::after {
				@include arrow-down(FFFFFF);
				background-position-x: center;
				background-repeat: no-repeat;
				background-size: 100% auto;
				color: $white;
				content: '';
				display: inline-block;
				height: 10px;
				position: absolute;
				right: 1px;
				top: 12px;
				width: 10px;
			}
		}
	}

	.tcu-nav-universal__icons {
		background-color: $black;
		float: left;
		max-width: 100%;
		padding: $space-s;
		position: relative;
		width: 100%;

		// showing tcu-dropdown
		&:hover ul {
			@include media($medium-screen) {
				opacity: 1;
				overflow: visible;
				top: 35px;
				transition: opacity 400ms ease-in-out;
				visibility: visible;
			}
		}

		.tcu-dropdown {
			@include media($medium-screen) {
				// for our transition animation
				border-top: 0;
				margin-top: 0;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				visibility: hidden;
				z-index: 8999;
			}

			li {
				@include media($medium-screen) {
					max-width: 180px;
				}
			}
		}

		@include media($medium-screen) {
			max-width: 164px;
			padding: 0;
		}

		ul {
			width: 100%;

			li {
				float: left;
				padding: $space-s $space-s $space-s $space-l;
				width: 100%;

				@include media($medium-screen) {
					padding: 0;
				}
			}
		}
	}
}

@media screen and (-ms-high-contrast: black-on-white) {
	.tcu-nav-universal,
	.tcu-main-nav {
		.tcu-expand--dropdown,
		.tcu-contract--dropdown {
			svg {
				fill: buttonText;
			}
		}
	}

	.tcu-nav-universal {
		svg {
			fill: buttonText;
		}
	}
}
