//===================================
// CSS Animations
//===================================

//  Needs a major clean up strategy

// Bounce To Right
.tcu-bounce {
	backface-visibility: hidden;
	position: relative;
	transform: translateZ(0);
	transition-duration: 0.5s;
	transition-property: color;
}

%tcu-bounce {
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: scaleX(0);
	transition-duration: 0.5s;
	transition-property: transform;
	transition-timing-function: ease-out;
	z-index: -1;
}

%tcu-bounce--right {
	@extend %tcu-bounce;
	transform-origin: 0 50%;
}

.tcu-bounce--right--grey {
	&::before {
		@extend %tcu-bounce--right;
		background: $dark-grey;
	}
}

.tcu-bounce--right--purple {
	&::before {
		@extend %tcu-bounce--right;
		background: $purple;
	}
}

.tcu-bounce--left--grey,
.tcu-bounce--left--purple,
.tcu-bounce--right--grey,
.tcu-bounce--right--purple {
	&:hover,
	&:active {
		color: $white;
	}
}

%tcu-bounce--left {
	@extend %tcu-bounce;
	transform-origin: 100% 50%;
}

.tcu-bounce--left--grey {
	&::before {
		@extend %tcu-bounce--left;
		background: $grey;
	}
}

.tcu-bounce--left--purple {
	&::before {
		@extend %tcu-bounce--left;
		background: $purple;
	}
}

.tcu-bounce--right--grey,
.tcu-bounce--right--purple,
.tcu-bounce--left--grey,
.tcu-bounce--left--purple {
	&:hover::before,
	&:focus::before,
	&:active::before {
		transform: scaleX(1);
		transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	}
}

// Squeeze
.tcu-hamburger--squeeze {
	.tcu-hamburger-inner {
		transition-duration: 0.1s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

		&::before {
			transition: top 0.1s 0.14s ease, opacity 0.1s ease;
		}

		&::after {
			transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
	}
}

.tcu-hamburger--squeeze.tcu-is-active {
	.tcu-hamburger-inner {
		transform: rotate(45deg);
		transition-delay: 0.14s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

		&::before {
			opacity: 0;
			top: 0;
			transition: top 0.1s ease, opacity 0.1s 0.14s ease;
		}

		&::after {
			bottom: 0;
			transform: rotate(-90deg);
			transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
		}
	}
}
